extends layout

block content
    .content.has-text-centered
        h3  Displaying numbers generated from IoT device
    hr.navbar-divider
    .columns
        .column
        .column
            canvas#line-chart(width='1000', height='400')
        .column
    script(src="/javascripts/line.js")
