extends layout

block content
  h1.title.has-text-centered= "IoT device"
  hr.navbar-divider.is-dark
  br
  .columns
    .column
      .box
        .content.has-text-centered
          h3  Press start button to generate the random numbers
        hr.navbar-divider
        br
        article.media
        .field.is-grouped.is-grouped-centered
          p.control
            a.button.is-primary#start Start
          p.control
            a.button.is-danger#stop Stop

    .column
      .box
        .content.has-text-centered
          h3  Current streaming number
        hr.navbar-divider
        br
        article.media
          .media-content
            .content.has-text-centered
              h2#random None
  section.section
    .container
      .content.has-text-centered
        a.button.is-link.is-rounded(href="/client",target="_blank") Click here to get the data on line chart

